.homepage-description {
  max-width: 900px;
  margin: 40px auto 30px;
  padding: 0 20px;
  text-align: center;
  border-radius: 16px;
}

.homepage-description h1 {
  font-size: 2.4rem;
  color: #ff4da6;
  margin-bottom: 12px;
}

.homepage-description p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 0 auto;
}

.popular-section {
  margin-top: 40px;
  padding: 0 20px;
}

.popular-title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}


.popular-movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 3px solid;
  border-image: linear-gradient(to right, #3b82f6, #ec4899); /* Blue to pink */
  border-image-slice: 1;
  border-radius: 12px;
width: 200px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
}

.popular-movies {
display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around	;
}
.popular-movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.popular-movie-image {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.popular-movie-title {
  margin-top: 10px;
  font-size: 0.95rem;
  font-weight: 600;
  text-align: center;
}


.favorite-icon {
  align-self: flex-end;
  cursor: pointer;
  margin-bottom: 5px;
  transition: transform 0.2s ease;
}

.favorite-icon:hover {
  transform: scale(1.2);
}